<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>NEO全资产区块浏览器</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link href="styles/comp.css?v=2" rel="stylesheet" />
    <link href="libs/iconfont/iconfont.css?v=3" rel="stylesheet" />
    <link href="styles/layout.css?v=2" rel="stylesheet" />

</head>

<body>
    <div id="app" v-on:click="appevent">
        <neo-header ref="header"></neo-header>
        <div class="page-tran-info">
            <neo-info-title :title="$t('transaction.name')"  v-bind:id="id"></neo-info-title>
            <neo-tran-info   v-bind:transaction="transaction"></neo-tran-info>
            <neo-tran-record v-for="(recordItem, recordIdx) in records" showborder="true" v-bind:record="recordItem" v-if="records"></neo-tran-record>
            <neo-tran-script v-bind:scripts="scripts" v-if="scripts"></neo-tran-script>
        </div>
        <neo-footer></neo-footer>
    </div>
    <script src="config.js"></script>
    <script src="libs/rem/rem.js?v=4" data-psd="750"></script>
    <script src="libs/vue/vue.min.js"></script>
    <script src="libs/moment/moment.min.js"></script>
    <script src="libs/vue-paginate/paginate.min.js"></script>

    <script src="libs/vue-i18n/vue-i18n.min.js"></script>
    <script src="i18n/en.js"></script>
    <script src="i18n/zhCHS.js"></script>
    
    <!-- <script src="libs/echarts/echarts.min.js"></script> -->
    <script src="libs/bluebird/bluebird.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <script src="dist/comp.js"></script>
    <script src="dist/traninfo.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110660254-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110660254-2');
    </script>

</body>

</html>