html, body{ margin:0; height:100%; }

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #eee;
  color: #3c4858;
  // /* background: #7883d9;
  // background: -moz-linear-gradient(-45deg,#7883d9 0,#39bacf 100%);
  // background: -webkit-linear-gradient(-45deg,#7883d9,#39bacf);
  // background: linear-gradient(135deg,#7883d9,#39bacf); */
}
