.page-tran-info, .page-block-info, .page-addr-info{
    margin: 0 0 0 2rem;
    width: 7.5rem;
    font-size: 0.1rem;
    color: #fff;
}
.page-home-info {
    min-height: 8rem;
}
.page-block-info{
    /* min-width: 15rem; */
}
.page-block-info .neo-paging{
    width: 7.5rem;
}
.page-asset-list {
    width: 9rem;
    position: relative;
    left: 1.5rem;
    top: 0;
}
.page-asset-list .neo-search{
    position: relative;
    top: -0.5rem;
}
.page-asset-list .neo-asset-list {
    position: relative;
    top: -0.8rem;
}

.page-home-slider {
    margin: 1rem 0 0 0;
}
.page-home-toolbox {
    position: relative;
    bottom: 0.9rem;
}

.page-home-data.B0, .page-home-data.P0, .page-home-data.M0{
    width: 7.5rem;
    position: relative;
    left: 1.5rem;
    top:-0.8rem;
}
.page-home-data.B1, .page-home-data.P1, .page-home-data.M1{
    width: 7.5rem;
    position: relative;
    left: 2.45rem;
    top:-0.8rem;
}
.page-home-data.B2, .page-home-data.P2, .page-home-data.M2{
    width: 7.5rem;
    position: relative;
    left: 2.45rem;
    top:-0.8rem;
}
.page-home-data.B3, .page-home-data.P3, .page-home-data.M3{
    width: 7.5rem;
    position: relative;
    left: 2.45rem;
    top:-0.8rem;
}
.page-home-data.B4, .page-home-data.P4, .page-home-data.M4{
    width: 7.5rem;
    position: relative;
    left: 2.45rem;
    top:-0.8rem;
}
.title{
    color: #84C033; 
    font-size: 0.2rem;
}