/* #region neo-wallet-list */
/* .neo-wallet-list.P {
    width: 100%;
}
.neo-wallet-list.P .row{
    width: 100%;
}
.neo-wallet-list.P .row.header{
    width: 100.17%;
}
.neo-wallet-list.P .row.header .col-1 span{
    position: relative;
    left: 0.1rem;
}
.neo-wallet-list.P .row.header .col-2 span{
    position: relative;
    left: 0.05rem;
}
.neo-wallet-list.P .row.header .col-3 span{
    position: relative;
    left: 0.05rem;
}
.neo-wallet-list.P .row.header .col-4 span{
    position: relative;
    left: -0.04rem;
}
.neo-wallet-list.P .row .col-1{
    width: 4rem;
}
.neo-wallet-list.P .row .col-2{
    width: 3rem;
}
.neo-wallet-list.P .row .col-3{
    width: 3rem;
} */
/* #endregion */

/* #region neo-toolbox */
/* #endregion */
/* */
/* */
/* */
/* */
/* */
/* */

