<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>neo</title>
    <link href="/styles/comp.css?v=2" rel="stylesheet" />
    <link href="/styles/resp.css?v=2" rel="stylesheet" />
    <link href="/libs/iconfont/iconfont.css?v=2" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <!-- <neo-header></neo-header> -->
        <!-- <neo-slider></neo-slider> -->
        <!-- <neo-footer></neo-footer> -->
        <!-- <neo-dynamic-list></neo-dynamic-list> -->
        <!-- <neo-market-neochart ref="neochart"></neo-market-neochart> -->
        <neo-wallet-list ref="wallet"></neo-wallet-list>
        <!-- <neo-tran-record></neo-tran-record> -->
        <!-- <neo-tran-info></neo-tran-info> -->
        <!-- <neo-tran-script></neo-tran-script> -->
        <!-- <neo-block-info></neo-block-info> -->
        <!-- <neo-tran-list title="Transactions (6)"></neo-tran-list> -->
        <!-- <neo-paging></neo-paging> -->
        <!-- <neo-toolbox></neo-toolbox> -->
        <!-- <neo-addr-info ref="addrinfo"></neo-addr-info> -->
        <!-- <neo-asset-list></neo-asset-list> -->
        <!-- <neo-block-list></neo-block-list> -->
    </div>
    <script src="/libs/rem/rem.js?v=2" data-psd="750"></script>
    <script src="/libs/vue/vue.min.js"></script>
    <script src="/libs/moment/moment.min.js"></script>
    
    <script src="/libs/echarts/echarts.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <script src="/component/comp.js?v=1"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
            },
            methods: {
                init: function() {
                    // this.$refs.neochart.init();
                    this.$refs.wallet.init();
                    // this.$refs.addrinfo.init();
                }
            }
        })

        app.init();
    </script>
</body>

</html>